@import "vars"

/*==========  Desktop First  ==========*/

//Extra large: ≥1200px
+media-breakpoint-down(xl)
  /**/

//Large: ≥992px
+media-breakpoint-down(lg)
  .contacts-h .phone
    font-size: 19px
  .lvl2-h .logo-c p
    line-height: 1.4
  .lvl2-h .main-discr
    font-size: 20px
  .signals-r .signals-c .cont-c .h2 strong
    font-size: 28px
  .signals-r .signals-c .signals-i .svg-c
    top: 69px
  .tab-trigger-r .tab-trigger-c .tab-trigger-i button
    padding: 20px 10px
//Medium: ≥768px
+media-breakpoint-down(md)
  .signals-r .signals-c .signals-i .prev-c:after
    left: unset
    transform: translate(370px, 0)
  .main-slider .slick-dots
    bottom: 5px
  .main-slider .item .content-c
    background: rgba(#ffffff, 0.8)
    border-radius: 3px
  .tab-trigger-r .tab-trigger-c .tab-trigger-i button
    margin-right: 5px
  .content
    table
      overflow-x: scroll
      width: 100%
      display: block
      tbody
        display: block
        min-width: 500px
        width: 100%
  .btn-find
    margin-left: 0px
  .main-menu-c
    .main-menu
      ul
        display: none
  .main-menu-r
    align-items: center
  .menu-m-c
    display: block
    height: 100%
  .menu-m-b
    height: 100%
    display: flex
    justify-content: flex-end
  .lvl2-h .main-discr
    display: none
  .lvl2-h .logo-c
    margin-bottom: 15px
  .main-slider .item .content-c
    left: 0px
  .lvl1-f .cont-c
    margin-top: 30px
  .sidebar-stat ul
    flex-direction: row
  .sidebar-stat ul li
    margin-bottom: 0px
    margin-right: 15px
    &:last-child
      margin-right: 0px
  .sidebar-stat
    top: unset
    bottom: 11px
    right: unset
    left: 20px
    transform: none
  .sidebar-stat ul li
    width: 50px
    height: 50px
    min-height: 50px
    min-width: 50px
  .sidebar-stat ul li:after
    top: 3px
    right: 3px
    left: 3px
    bottom: 3px
  .sidebar-stat ul li:before
    right: 0px
    top: 0px
  .find-page .rs-panel
    margin-top: 0px
  .find-page .rs-panel .tab-content-c
    padding: 0 15px
  .news-page .rs-panel .row .tab-content-c:first-child
    margin-top: 15px
  .fltr-b
    position: relative
    transform: none
    margin-bottom: 0px
    flex-wrap: wrap
    button
      margin-bottom: 12px
  .catalog-view
    margin-top: 30px
  .tab-content-c.short-cart
    .tab-content-i
      background: #FFFFFF
      z-index: 10
      left: 0px
      .cheep-c
        display: flex
      .btn-c
        display: flex
    &:hover
      .tab-content-i
        position: relative
  .catalog-view .right-v
    position: relative
    z-index: 20
//Small: ≥576px
+media-breakpoint-down(sm)
  .news-b-i
    flex-direction: column
    .prev-c
      width: 100%
      .prev
        width: 100%
  .lvl1-f
    .menu-f
      margin-top: 30px
  .preim-c .preim-i
    margin-bottom: 30px
  .tab-trigger-r .tab-trigger-c .tab-trigger-i
    overflow: auto
  .signals-r .signals-c .signals-i .prev-c:after
    transform: translate(144px,0)
  .signals-r .signals-c .signals-i .svg-c
    top: 43px
  .main-slider .item .h1
    font-size: 22px
  .main-slider .item .content-c p
    line-height: 1.6
  .main-slider .item .content-c
    padding: 30px
    height: 100%
  .standart-sec .h2
    font-size: 24px
  .signals-r .signals-c .cont-c
    flex-direction: column
    align-items: flex-start
  .signals-r .signals-c .cont-c .h2
    font-size: 19px
    margin-bottom: 10px
  .signals-r .signals-c .cont-c .h2 strong
    font-size: 30px
  .catalog-view
    flex-wrap: wrap
//Extra small: >0
+media-breakpoint-down(xs)
  .pag-cont.white-pag .pagination
    justify-content: flex-start
  .catalog-view .right-v
    margin-top: 10px
  .find-b-i
    flex-direction: column
    .prev
      margin-bottom: 15px
  .title-page
    font-size: 25px
  .payments-c .pay-i
    margin-top: 15px
  .lvl1-f .cont-s .h3
    margin-bottom: 15px
  .lvl1-f
    *
      text-align: center
      justify-content: center
    .logo-c
      text-align: center
      justify-content: center
  .signals-r .signals-c .signals-i .prev-c:after
    transform: translate(0,0)
    border-width: 0 1040px 170px 724px
  .signals-r .signals-c .signals-i .svg-c
    top: unset
    bottom: 20px
    right: 20px
  .lvl2-h .logo-c p
    font-size: 14px
  .lvl2-h
    padding: 18px 0px
  .preim-c .h2
    font-size: 20px
/*==========  Mobile First  ==========*/

//Extra small: <576px
+media-breakpoint-up(xs)
	/**/
//Small: ≤576px
+media-breakpoint-up(sm)
	/**/

//Medium: ≤768px
+media-breakpoint-up(md)
  /**/



//Large: ≤992px
+media-breakpoint-up(lg)
  /**/

//Extra large: ≤1200px
+media-breakpoint-up(xl)
  .container
    width: 1170px
    max-width: 100%

